<div class="banner relative h-[256px] w-[256px] grid justify-center items-center">
	<svg id="stars" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
		<path d="M 404.976 379.428 L 401.025 379.428 C 401.025 383.301 397.874 386.452 394.001 386.452 L 394.001 390.403 C 397.874 390.403 401.025 393.554 401.025 397.428 L 404.976 397.428 C 404.976 393.554 408.127 390.403 412.001 390.403 L 412.001 386.452 C 408.127 386.452 404.976 383.301 404.976 379.428 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 413.976 229.414 L 410.025 229.414 C 410.025 233.838 406.426 237.438 402.001 237.438 L 402.001 241.389 C 406.425 241.389 410.025 244.989 410.025 249.414 L 413.976 249.414 C 413.976 244.989 417.576 241.389 422.001 241.389 L 422.001 237.438 C 417.576 237.438 413.976 233.838 413.976 229.414 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 96.877 249.414 L 100.828 249.414 C 100.828 244.99 104.428 241.39 108.853 241.39 L 108.853 237.439 C 104.428 237.439 100.828 233.839 100.828 229.414 L 96.877 229.414 C 96.877 233.839 93.277 237.439 88.852 237.439 L 88.852 241.39 C 93.277 241.39 96.877 244.99 96.877 249.414 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 134.828 335.428 L 130.877 335.428 C 130.877 339.852 127.278 343.452 122.853 343.452 L 122.853 347.403 C 127.277 347.403 130.877 351.003 130.877 355.428 L 134.828 355.428 C 134.828 351.003 138.428 347.403 142.853 347.403 L 142.853 343.453 C 138.428 343.452 134.828 339.852 134.828 335.428 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 393.976 313.428 L 390.025 313.428 C 390.025 317.852 386.426 321.452 382.001 321.452 L 382.001 325.403 C 386.425 325.403 390.025 329.003 390.025 333.428 L 393.976 333.428 C 393.976 329.003 397.576 325.403 402.001 325.403 L 402.001 321.452 C 397.576 321.452 393.976 317.852 393.976 313.428 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 382.025 189.428 L 385.976 189.428 C 385.976 185.003 389.576 181.403 394.001 181.403 L 394.001 177.452 C 389.576 177.452 385.976 173.853 385.976 169.428 L 382.025 169.428 C 382.025 173.852 378.425 177.452 374 177.452 L 374 181.403 C 378.425 181.403 382.025 185.003 382.025 189.428 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 284.025 409.139 L 287.976 409.139 C 287.976 404.714 291.576 401.114 296.001 401.114 L 296.001 397.163 C 291.576 397.163 287.976 393.563 287.976 389.138 L 284.025 389.138 C 284.025 393.563 280.426 397.163 276.001 397.163 L 276.001 401.114 C 280.425 401.114 284.025 404.714 284.025 409.139 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 307.976 425.138 L 304.026 425.138 C 304.026 429.562 300.426 433.162 296.001 433.162 L 296.001 437.113 C 300.426 437.113 304.026 440.713 304.026 445.138 L 307.976 445.138 C 307.976 440.713 311.576 437.113 316.001 437.113 L 316.001 433.163 C 311.576 433.162 307.976 429.562 307.976 425.138 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 336.827 100.573 L 332.877 100.573 C 332.877 104.998 329.277 108.598 324.852 108.598 L 324.852 112.548 C 329.277 112.548 332.877 116.148 332.877 120.573 L 336.827 120.573 C 336.827 116.148 340.427 112.548 344.852 112.548 L 344.852 108.598 C 340.428 108.598 336.827 104.998 336.827 100.573 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 217.751 98.573 L 221.702 98.573 C 221.702 94.148 225.301 90.548 229.726 90.548 L 229.726 86.597 C 225.302 86.597 221.702 82.998 221.702 78.573 L 217.751 78.573 C 217.751 82.997 214.151 86.597 209.726 86.597 L 209.726 90.548 C 214.151 90.548 217.751 94.148 217.751 98.573 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 304.877 78.573 L 308.827 78.573 C 308.827 74.148 312.427 70.548 316.852 70.548 L 316.852 66.598 C 312.427 66.598 308.827 62.998 308.827 58.573 L 304.877 58.573 C 304.877 62.998 301.277 66.598 296.852 66.598 L 296.852 70.548 C 301.277 70.548 304.877 74.148 304.877 78.573 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 130.877 145.428 L 134.828 145.428 C 134.828 134.386 143.811 125.403 154.852 125.403 L 154.852 121.452 C 143.811 121.452 134.828 112.469 134.828 101.428 L 130.877 101.428 C 130.877 112.469 121.894 121.452 110.853 121.452 L 110.853 125.403 C 121.894 125.403 130.877 134.386 130.877 145.428 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 88.852 311.452 C 80.016 311.452 72.827 304.264 72.827 295.427 L 68.876 295.427 C 68.876 304.263 61.688 311.452 52.852 311.452 L 52.852 315.403 C 61.688 315.403 68.876 322.591 68.876 331.427 L 72.827 331.427 C 72.827 322.591 80.015 315.403 88.852 315.403 L 88.852 311.452 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 134.828 397.428 L 130.877 397.428 C 130.877 411.778 119.203 423.452 104.852 423.452 L 104.852 427.403 C 119.202 427.403 130.877 439.077 130.877 453.428 L 134.828 453.428 C 134.828 439.078 146.502 427.403 160.852 427.403 L 160.852 423.452 C 146.502 423.452 134.828 411.778 134.828 397.428 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 375.976 389.138 L 372.025 389.138 C 372.025 403.488 360.351 415.162 346.001 415.162 L 346.001 419.113 C 360.351 419.113 372.025 430.787 372.025 445.138 L 375.976 445.138 C 375.976 430.788 387.65 419.113 402.001 419.113 L 402.001 415.162 C 387.65 415.162 375.976 403.488 375.976 389.138 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 459.149 287.452 C 450.313 287.452 443.124 280.264 443.124 271.428 L 439.174 271.428 C 439.174 280.264 431.985 287.452 423.149 287.452 L 423.149 291.403 C 431.985 291.403 439.174 298.591 439.174 307.428 L 443.124 307.428 C 443.124 298.592 450.313 291.403 459.149 291.403 L 459.149 287.452 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 104.852 161.452 C 96.016 161.452 88.827 154.264 88.827 145.428 L 84.877 145.428 C 84.877 154.264 77.688 161.452 68.852 161.452 L 68.852 165.403 C 77.688 165.403 84.877 172.591 84.877 181.428 L 88.827 181.428 C 88.827 172.592 96.016 165.403 104.852 165.403 L 104.852 161.452 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 451.124 175.833 L 447.173 175.833 C 447.173 180.257 443.574 183.857 439.149 183.857 L 439.149 187.808 C 443.573 187.808 447.173 191.408 447.173 195.833 L 451.124 195.833 C 451.124 191.408 454.724 187.808 459.149 187.808 L 459.149 183.857 C 454.724 183.857 451.124 180.257 451.124 175.833 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 114.828 275.427 L 110.877 275.427 C 110.877 279.851 107.278 283.451 102.853 283.451 L 102.853 287.402 C 107.277 287.402 110.877 291.002 110.877 295.427 L 114.828 295.427 C 114.828 291.002 118.428 287.402 122.853 287.402 L 122.853 283.451 C 118.428 283.451 114.828 279.851 114.828 275.427 Z" style="fill: rgb(255, 205, 76);"/>
		<path d="M 237.75 429.14 L 241.701 429.14 C 241.701 424.715 245.301 421.115 249.726 421.115 L 249.726 417.164 C 245.301 417.164 241.701 413.564 241.701 409.139 L 237.75 409.139 C 237.75 413.564 234.151 417.164 229.726 417.164 L 229.726 421.115 C 234.15 421.115 237.75 424.715 237.75 429.14 Z" style="fill: rgb(255, 205, 76);"/>
	</svg>
  
  	<svg version="1.1" id="map" viewBox="0 0 280 280" xmlns="http://www.w3.org/2000/svg">
		<path style="fill: rgb(167, 218, 242);" d="M 0.031 0.07 L 69.784 26.323 L 140.097 0.07 L 210.06 26.323 L 280.067 0.07 L 280.067 253.845 L 209.885 280.098 L 139.834 253.845 L 69.906 280.098 L 0.039 253.845 L 0.039 0.07 L 0.031 0.07 Z"/>
		<polygon style="fill: rgb(109, 192, 233);" points="70.037 279.984 139.834 253.784 140.044 253.862 140.044 0.026 70.037 26.165"/>
		<polygon style="fill: rgb(109, 192, 233);" points="210.06 26.261 210.06 279.966 280.067 253.784 280.067 0.009"/>
		<path style="fill: rgb(255, 215, 112);" d="M 210.06 26.261 L 140.097 0.009 L 113.17 10.055 C 67.849 62.245 84.773 106.113 144.848 160.535 C 195.524 206.433 247.907 233.298 280.057 210.021 L 280.057 0 C 280.058 0 210.06 26.261 210.06 26.261 Z"/>
		<path style="fill: rgb(148, 209, 146);" d="M 280.067 0.009 L 210.06 26.261 L 140.097 0.009 L 140.001 0.044 C 77.634 52.908 108.192 83.151 162.683 133.311 C 206.691 173.836 241.922 197.367 280.067 175.035 C 279.673 157.568 280.067 0.105 280.067 0.009 Z"/>
		<path style="fill: rgb(255, 196, 41);" d="M 210.06 26.261 L 210.06 207.01 C 237.223 220.303 261.883 223.199 280.067 210.029 L 280.067 0.009 L 210.06 26.261 Z"/>
		<path style="fill: rgb(255, 196, 41);" d="M 140.044 0.026 L 125.308 5.53 L 113.171 10.063 C 69.11 60.792 84.004 103.688 140.045 156.027 C 140.044 156.028 140.044 0.026 140.044 0.026 Z"/>
		<path style="fill: rgb(73, 178, 118);" d="M 280.067 0.009 L 210.06 26.261 L 210.06 170.746 C 234.116 185.097 256.545 188.799 280.067 175.025 C 279.673 157.568 280.067 0.105 280.067 0.009 Z"/>
		<path style="fill: rgb(73, 178, 118);" d="M 140.044 0.026 L 140.018 0.035 L 140 0.044 C 86.97 44.988 101.137 73.586 140.044 111.967 C 140.044 111.967 140.044 0.026 140.044 0.026 Z"/>
	</svg>

	<svg id="earth" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<radialGradient gradientUnits="userSpaceOnUse" cx="191.865" cy="183.64" r="248" id="gradient-0" gradientTransform="matrix(1.825251, 0, 0, 1.99351, -158.336838, -182.448215)">
				<stop offset="0" style="stop-color: rgba(255, 255, 255, 0);"/>
				<stop offset="1" style="stop-color: rgb(0, 40, 69);"/>
			</radialGradient>
		</defs>
		<path d="M 256.002 8.002 C 392.968 8.002 504.001 119.034 504.002 256 L 8.002 256 C 8.003 119.034 119.036 8.002 256.002 8.002 Z" style="fill: rgb(137, 204, 134);"/>
		<path d="M 504.002 256.002 C 504.002 392.969 392.969 504.002 256.002 504.002 C 119.035 504.002 8.002 392.969 8.002 256.002 C 8.002 256.001 8.002 256.001 8.002 256 L 504.002 256 C 504.002 256.001 504.002 256.001 504.002 256.002 Z" style="fill: rgb(158, 214, 241);"/>
		<path style="fill: rgb(94, 186, 231);" d="M 272.269 226.49 C 417.681 269.675 474.725 246.294 502.897 232.446 C 503.627 240.199 504.002 248.058 504.002 256.002 C 504.002 305.222 489.663 351.092 464.936 389.664 C 430.35 411.66 369.14 429.758 272.269 403.23 C 157.158 371.707 79.902 386.803 53.977 399.875 C 25.031 359.302 8.002 309.641 8.002 256.002 C 8.002 253.777 8.031 251.56 8.089 249.349 C 100.167 196.579 230.9 214.204 272.269 226.49 Z"/>
		<path d="M 256 8 C 282.503 8 308.036 12.157 331.98 19.856 C 394.478 39.949 446.16 84.164 476.063 141.537 C 442.093 124.299 397.803 115.62 319.743 128.859 C 193.293 150.306 101.023 96.871 77.494 83.842 C 108.917 51.268 149.173 27.272 194.406 15.711 C 194.407 15.71 194.407 15.709 194.408 15.709 C 214.101 10.676 234.738 8 256 8 Z" style="fill: rgb(73, 178, 118);"/>
		<path d="M 256.002 8 C 392.968 8 504.001 119.032 504.002 255.998 C 504.002 255.999 504.002 255.999 504.002 256 C 504.002 392.967 392.969 504 256.002 504 C 119.035 504 8.002 392.967 8.002 256 C 8.002 255.999 8.002 255.999 8.002 255.998 C 8.003 119.032 119.036 8 256.002 8 Z" style="fill: url(#gradient-0); fill-opacity: 0.6;"/>
	</svg>
</div>

<style>
	@keyframes float {
		0% { transform: translate(0,  0px); }
		50%  { transform: translate(0, 16px); }
		100%   { transform: translate(0, -0px); }
	}

	#stars {
		position: absolute;
	}

	#earth {
		z-index: 1;
		height: 128px;
		width: 128px;
		margin: 0 auto;
	}

	#map {
		z-index: 2;
		width: 40%;
		position: absolute;
		bottom: 8px;
		left: 8px;
		animation: float 4s ease-in-out infinite;
		animation-delay: -1s;
	}
</style>