* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
body { 
	margin:0; 
	padding:0;
	font-family: 'Assistant', sans-serif;
	letter-spacing: 1px;
}
.top-pad{
	position: absolute;
	width: 100%;
	height:96px;
	z-index: 99;
	background-color: #1E1E20;
	border-bottom: 3px solid #374140;
}
h1 {
	padding-left: 21px;
	font-size: 1.5em;
	font-family: 'Roboto Slab', serif;
	line-height: 55px;
	font-weight: 100;
	letter-spacing: 2px;
	vertical-align: middle;
}
#map {
	position:absolute;  
	width:100%;
	height: 100%; 
	top:0; 
}
.ol-control {background-color: transparent !important; padding: 0px !important;}
.ol-zoom {
	position: fixed !important;
	display: flex !important;
	left: unset;
	right: 54px;
	top: 108px !important;
}
.ol-zoom-in, .ol-zoom-out {
	box-shadow: 0 0 0 3px #374140 inset;
	width: 35px !important;
	height: 35px !important;
	border-radius: 0px !important;
}
.ol-zoom-in:focus, .ol-zoom-out:focus {
	background-color: #1E1E20 !important;
	transition: 0.3s;
}
.ol-zoom-in:hover, .ol-zoom-out:hover {
	background-color: #DC3522 !important;
	transition: 0.3s;
}
.ol-control button {background-color: #1E1E20;}
.ol-zoom-in {margin-right: 9px !important;}
#layer-switch {
	position: fixed; 
	z-index: 999;
	top: 109px; 
	left: 10px;
	width: 150px;
	text-align: left;
	background-color: #1E1E20;
	border: 3px solid #374140;
}
#layer-switch p {padding-left: 10px;}
hr {
	 border: 0; 
	 border-bottom: 1px dashed #374140; 
	 background: #1E1E20;
}
.checkbox{
	margin: 5px;
	padding: 5px 0px 5px 5px;
	font-size: 0.8em;
}
input[type=checkbox] {display:none;}
input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;
    width: 20px;  
    height: 20px;  
    vertical-align:middle;
    margin-right: 15px;  
    background-color: #1E1E20;
    border: 2px solid white;
    border-radius: 100%;
}
input[type=checkbox]:checked + label:before {
    text-align:center;
    line-height:15px;
}
label {font-size: 1.1em}
#oR11bR_1992:checked + label:before, #f1992 {
	background-color: rgb(255,255,204);
}
#oR11bR_1996:checked + label:before, #f1996 {
	background-color: rgb(255,237,160);
}
#oR11bR_1998:checked + label:before, #f1998 {
	background-color: rgb(254,217,118);
}
#oR11bR_1999:checked + label:before, #f1999 {
	background-color: rgb(254,178,76);
}
#oR11bR_2000:checked + label:before, #f2000 {
	background-color: rgb(253,141,60);
}
#oR11bR_2001:checked + label:before, #f2001 {
	background-color: rgb(252,78,42);
}
#oR11bR_2004:checked + label:before, #f2004 {
	background-color: rgb(227,26,28);
}
#oR11bR_2010:checked + label:before, #f2010 {
	background-color: rgb(189,0,38);
}
#oR11bR_2011:checked + label:before, #f2011 {
	background-color: rgb(128,0,38);
}
.ol-scale-line{background:rgba(0,0,0,0);}
#information {
	cursor: default;
	text-align: center;
	position: fixed;
	z-index: 100;
	right: 10px;
	top: 109px;
	height: 35px;
	width: 35px;
	background-color: #1E1E20;
	box-shadow: 0 0 0 3px #374140 inset;
}
#information i {margin-top: 25%;}
#information:hover {
	background-color: #DC3522 !important;
	transition: 0.3s;
}
#tooltip {
	display:none;
	position: fixed;
	z-index: 101;
	right: 10px;
	top: 154px;
	background-color: #1E1E20;
	box-shadow: 0 0 0 3px #374140 inset;
	padding: 0px 10px 0px 10px;
	text-align: justify;
	font-size: 0.8em;
	width: 250px;
}
table {
	margin:auto;
	text-align: center;
	border: collapse;
}
th {text-shadow: 0px 1px 1px #1E1E20;}
td, th {padding: 2px;}
.ol-attribution {right: 10px !important; bottom: 10px !important;}