<body class="
	font-sans antialiased
	text-neutral-800 bg-[#dff0fc]
	dark:text-neutral-200 dark:bg-[#0c1819]
	visited:text-neutral-200 dark:visited:text-neutral-800
">
	<div class="
		-z-10 h-screen w-full fixed
		bg-[url('/backdrop.jpg')] 
		dark:bg-[url('/backdrop-dark.jpg')]
		bg-no-repeat bg-bottom bg-cover
	">
	</div>
	<div class="w-full absolute">
		<slot />
	</div>
</body>