<body class="
	font-sans antialiased
	text-neutral-800 bg-[#dff0fc]
	dark:text-neutral-200 dark:bg-[#0c1819]
	visited:text-neutral-200 dark:visited:text-neutral-800
">
	<div class="
		-z-10 h-screen w-full fixed
		bg-[url('/backdrop.jpg')] 
		dark:bg-[url('/backdrop-dark.jpg')]
		bg-no-repeat bg-bottom bg-cover
	">
	</div>
	<div class="w-full absolute">
		<slot />
	</div>
</body>

<style>
	@keyframes fadeIn {
		0% { opacity: 0; }
		20% { opacity: 0; }
		40% { opacity: 0.4; }
		60% { opacity: 0.6; }
		80% { opacity: 0.8; }
		100% { opacity: 1; }
	}

	body > * {
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-name: fadeIn;
		opacity: 0;
		opacity: 1;
	}
</style>